.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_wrapper {
  position: relative;
}

.link {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  cursor: pointer; 
}

.link:hover {
  width: 200px; 
  border: 3px solid #101828;
  background: transparent;
  color: #101828;
}

